<div class="container">
  <div class="row">
    <div class='mx-auto col-lg-5 text-center mt-5' style="top:50px;">
      <h1 style="font-family: 'Sacramento', cursive;"></i><strong>Nail Design</strong></h1>
      <p style="font-family: 'Rounded Mplus 1c';">
        サイトをご覧いただきありがとうございます.</br>
        素敵なネイルに巡り会えますように！
      </p>
      <div class="btn-wrapper col-10 mx-auto" style="font-family: 'Rounded Mplus 1c';">
        <div class="row">
          <%= link_to 'Guest!（少し見てみたい方）', guests_guest_sign_in_path, class: "btn btn-sm btn-block mb-3 sign_in", method: :post, style:"background-color:#db7093;" %>
        </div>
        <div class="row">
          <%= link_to 'Log in（会員の方）',new_end_user_session_path, class: "btn btn-sm btn-block mb-3 sign_in", style:"background-color:#f08080;" %>
        </div>
        <div class="row">
          <%= link_to 'Sign up（新規登録をされる方）',new_end_user_registration_path, class: "btn btn-sm btn-block sign_up", style:"background-color:#ffb6c1;" %>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mt-5">
      <div class="text-center">
        <div class="img_field">
          <%= image_tag 'IMG_5800.JPG', size: "400x400" %>
        </div>
      </div>
    </div>
  </div>
</div>