<div class="container text-center">
  <div class="col-7 mx-auto mt-4">
    <h2>Chat Rooms <i class="fas fa-comments"></i></h2>
    <table class="table text-reset mt-2">
      <tbody>
        <% @chat_partners.each do |chat_partner| %>
        <% if chat_partner.is_deleted == false %>
        <% if chat_partner.name != "Guest" && chat_partner.name != "guestuser" %>
          <tr>
            <td>
              <%= link_to "#{chat_partner.name}さん", chats_path(end_user_id: chat_partner.id), class:"text-reset" %>
            </td>
          </tr>
        <% end %>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
