<div class="container mt-4 text-center">
  <h2>Favorites <i class="far fa-heart"></i></h2>
    <div class="row">
    <% @favorite_nails.each do |nail| %>
      <div class="col-xl-3 py-3 ml-3 mr-3">
        <%= link_to nail_path(nail.id) do %>
          <%= image_tag nail.get_image, class: "shadow-lg", size:"300x300" %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>